body {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-family: 'Catamaran', sans-serif;
    color: #202D33;
}

h1,h2 {
    font-family: 'Catamaran', sans-serif;
    color: #384F59;
}

.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.images {
    padding: 1vw;
    width: 21vw;
}